.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin:auto;
}

.container a {
  color: white;
  font-family: Lacquer, cursive;
  font-size: 2rem;
  text-decoration: none;
  width: 18%;
  text-align: center;
}

.container a:hover {
  color: red;
  scale: 1.2;
  text-shadow: red 1px 0 10px;
}

body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../imgs/pexels-elti-meshau-333850.jpg');
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heading{
  color: red;font-size: 4rem;
  margin-bottom: 4rem;
  background: rgba(0, 0, 0, 0.5);
  font-family: Lacquer, cursive;
  border-radius: 1rem;
  padding:0.5rem;
}