.cards{
    display: flex;
    flex-wrap: wrap;
    gap:4rem;
    margin: 2rem 2rem;
    justify-content: center;
    width: 80%; 
}
.noFears{
    font-size:2rem;
    color: red;
    height: 100%;
    margin: auto;
}
