.header{
  position: sticky;
  top:0;
  min-height: 10vh;
  z-index: 1;
} 
 .navbar {
   background: rgba(0,0,0,0.2) 100%;
   color: #fff;
   padding: 15px;
   width: 100%;
   height: 65px;
   display: flex;
   align-items: center;
 }

 .navbar .logo {
   cursor: pointer;
   font-family: Lacquer,cursive;
   color: red;
   text-shadow: red 1px 0 10px;
 }
 .navbar .logo a{
  text-decoration: none;
  color:red;
  font-size: 2rem;
  font-weight:bold;
 }
 .navbar ul.links {
   margin-left: auto;
   margin-right: 50px;
   list-style: none;
   display: flex;
   align-items: center;
 }

 .navbar ul.links li {
   text-transform: uppercase;
   padding: 1rem 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.2s ease all, 0s ease margin;
   border-radius: 1rem;
 }

 .navbar ul.links li a {
   text-decoration: none;
   color: #fff;
 }
 .navbar .logo a:hover{
  font-size: 2.25rem;
  text-shadow: 3px 3px 25px red;
 }
 .navbar ul.links li:hover {
   background-image: url(../../imgs/bloodsplat2.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   cursor: pointer;
   font-size: 1.25rem;
 }

 .navbar ul.links li:hover a {
   color: #080808;
 }



 .navbar.sticky {
   position: fixed;
   z-index: 40;
 }

 .navbar.sticky~main {
   position: relative;
   z-index: 20;
   top: 65px;
 }

 @media (max-width:960px) {
  .navbar ul.links li {
    font-size:0.75rem;
  }
}
 @media screen and (max-width: 767px) {
   .navbar .right {
     height: 0;
     overflow: hidden;
   }

   .toggle {
     position: absolute;
     top: 32.5px;
     right: 20px;
     z-index: 99;
     transform: translateY(-50%);
     cursor: pointer;
     width: 40px;
     height: 40px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }

   .toggle>* {
     width: 80%;
     height: 2px;
     background: #fff;
     margin: 3px 0;
   }

   .navbar.collapsed .toggle .line1 {
     transform: rotate(-45deg) translate(-4px, 5px);
   }

   .navbar.collapsed .toggle .line2 {
     opacity: 0;
   }

   .navbar.collapsed .toggle .line3 {
     transform: rotate(45deg) translate(-5px, -6px);
   }

   .navbar.collapsed .logo {
     position: absolute;
     z-index: 44;
   }

   .navbar .links {
     position: fixed;
     background: #080808;
     z-index: 40;
     top: 0;
     left: -100%;
     flex-direction: column;
     width: 45vw;
     height: 100vh;
   }

   .navbar .links li:first-child {
     margin-top: 80px;
   }

   .navbar.collapsed .links {
     left: 0;
   }

   .navbar.collapsed .links a {
     color: #fff;
   }

   .navbar.collapsed .links li {
     width: 100%;
   }

   .navbar.collapsed .links li:hover a {
     color: #080808;
   }

   .navbar.collapsed .right {
     position: fixed;
     width: 45vw;
     text-align: center;
     height: auto;
     bottom: 40px;
     left: 22.5vw;
     transform: translateX(-50%);
     z-index: 45;
   }

   .navbar.collapsed~main {
     filter: blur(1px);
     opacity: 0.8;
   }

   .navbar.sticky {
     position: fixed;
     z-index: 40;
   }
 }

