.container{
    display:flex;
    justify-content:space-around;
    align-items: center;
    color: white;
    margin-top: 5rem;
}
.info{
    width: 40%;
    text-align: center;
}
.img{
    background-image:url("../../imgs/fear.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    max-width: 520px;
    width: 100vw;
    max-height: 355px;
    height: 70vw;
}
.info h2{
    font-size:2.5rem;
    margin-bottom:1rem;
}
.info p{
    font-size: 1.5rem;
}
.info q{
    font-style: italic;
}
.info p:not(last-child){
    margin-bottom: 1rem;
}

@media (max-width:968px){
    .container{
        flex-direction: column;
    }
} 