.container{
    display:flex;
    flex-direction:column;
    color: white;
    justify-content:center;
    align-items: center;
    margin:auto;
    gap:1rem;
    width: 100vw;
}
.statistics{
    color: white;
    justify-content:center;
    align-items: center;
    margin:auto;
    display: flex;
    gap:1rem;
    flex-direction: column;
}
.userFears h1{
    text-align: center;
    margin: 3rem;
}
.userFears{
    border: 1px solid red;
    border-radius:1rem;
    width: 80%;
    padding-bottom: 5rem;
}