.container{
    display:flex;
    flex-direction:column;
    color: white;
    justify-content:center;
    align-items: center;
    margin:auto;
    gap:1rem;
    width: 100vw;
}
.statistics{
    color: white;
    justify-content:center;
    align-items: center;
    margin:auto;
    display: flex;
    gap:1rem;
    flex-direction: column;
    text-align: center;
}

.userFears h1{
    text-align: center;
}
.userFears{
    width: 100%;
    align-items: center;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.icons{
    display: flex;
    gap:1rem;
    justify-content: space-around;
}

.icons i{
    color: white;
    font-size: 2rem;
    margin-left: auto;
}

.icons a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
@media screen and (max-width: 767px){
    .btnContainer{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}